.image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 10px;
}

.image {
  width: 200px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.loader {
  text-align: center;
  margin: 20px 0;
  font-size: 18px;
  font-weight: bold;
  color: gray;
}
