.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(202, 196, 196);
    width: 80%;
    height: 50px;
    overflow: hidden;
    border-radius: 50px;
}

.progress-bar {
    position: relative;
    display: flex;
    align-self: start;
    text-align: center;
    height: 100%;
    transition: all 1s ease;
    background-color: rgb(35, 184, 35);
}

p {
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 50px;
    font-weight: bold;
}

h1 {
    transition: all 2s ease;
}

